#CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#binary files for testing
test/files

#build files and executable
*.a
palkia_test
#roms and other
*.nds
*.narc
*.png
*.bin
#vscode stuff
.vscode